extends layouts/main-layout.pug

append content
    center
        h1 Thank you for providing your contact information, <br> I will do my best to contact you as soon as possible.
        div 
        form.back(action="/", method="get")
            button(type="submit") Go Back