extends layouts/main-layout.pug

append script 
    script(src="/JS/TimerLogic.js" defer)  
append style
    link(rel="stylesheet", href="/CSS/Timer.css")

block content
    div.date-countdown-container
        H3 Time until Graduation Day
        div.line-break
        h2#day 0
        p :
        h2#hour 0 
        p :
        h2#minute 0
        p :
        h2#second 0
